.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
 border:none;
}
.title {
  font-size: 30px;
}

#price{
    font-weight: 800;
}
.btncart{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 2%;
}
.btnofcart{
 background-color: rgb(27, 197, 216); 
 color:black; 
 border-radius: 3px;
 border: none;
 height: 2rem;
 font-weight: 500;
}
.btnofcart:hover{
    background-color: rgb(4, 150, 240); 
   }

   .for{
    display:flex;
    justify-content: center;
    gap: 8px;
   }
#wrapper{
  overflow: hidden;
  width: 45%;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
}

  .images{
    width: 100%;
    background-size: cover;
    transition: all 0.7s ease-in-out;
  }
  .images:hover{
   transform: scale(1.4);
  }