.head{
    display: flex;
    justify-content:space-between;
    font-family:cursive; 
 }
 .cart{
   display: flex;  
   justify-content: space-evenly;
   font-family: 'Times New Roman', Times, serif;
   gap: 1rem;

 }
 .bordera{
     border-bottom: 1px solid black;
 }
 .cartitem{
     display: flex;  
     flex-direction: row;
     justify-content: space-evenly; 
 }