.About {
display : flex;
flex-direction: column;
padding-bottom: 3%;
align-items: center;
margin-top: 2rem;
}

.ABOUTHEAD {
    font-family: cursive;
    font-weight: 900;
  }
  .conte {
    width: 70%;
  }
  .band {
    height: 15rem;
    border-radius: 50%;
    float: left;
    padding: 10px;
  }
  .paragraph {
    font-weight: 600;
  }