.Home {
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 101.8%;
    margin-left: -1%;
    margin-top: -2rem;
    padding-bottom: 3rem;
    gap: 2rem;
  }
  #btns {
    border: 1px solid rgb(24, 218, 214);
    padding: 1rem;
    font-size: larger;
    font-weight: 500;
  }
  #roundbtns {
    border: 1px solid rgb(24, 218, 214);
    border-radius: 100%;
  }
  .tours {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #tou {
    padding-top: 1rem;
    font-family: Georgia, "Times New Roman", Times, serif;
  }