#lis {
    display: flex;
    gap: 20px;
    margin: auto;
    text-align:center;
    padding: 20px;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    width: 80%;
}

.font {
    font-weight: 400;
    color: rgb(103, 107, 110);
}

#date {
    font-weight: 400;
}

.but {
    background-color: rgb(31, 201, 150);
    color: white;
    border: none;
    height: 2rem;
    font-weight: 500;
    border-radius: 5px;
    text-align: justify;
}